<p>Products</p>
<div *ngFor="let product of products">

  
      <a [title]="product.name + ' '+ product.description">
      {{ product.name }}
    </a>
    <button (click)="share(product.name)">
    Share
  </button>

<app-product-alert [product_price]="product.price" (notifier)="onNotify()"></app-product-alert>
  

</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->